
@{
    ViewBag.Title = "BSIS";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Degrees", "Index", "Degree")</li>
    <li class="breadcrumb-item active">BSIS</li>
</ol>

<h1>@ViewBag.Name</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <img src="@ViewBag.Picture" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-10">
                        <h4> @ViewBag.Coordinator </h4>
                        <small>  @ViewBag.ProfTitle  </small>
                        <br />
                        <small>@ViewBag.OfficeAddress</small>
                        <br />
                        <p>
                            <br /><br />
                            @ViewBag.PhDEducation
                            <br /><br />
                            @ViewBag.MasterEducation
                            <br /><br />
                            @ViewBag.BachelorEducation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2>MISM Frequently Asked Questions</h2>

<div class="container">

    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">How do I apply?</h4>
                <p class="text-right">By A. Campbell</p>
                <p>
                    
                    You may apply to the Information Systems program if you have completed or are enrolled in all of the Pre-Information Systems Core courses. The deadline to apply to the program is the last working day of June at 4:30pm. Application to the program is done online and can be accessed here: https://marriottschool.byu.edu/apply/bsis/.

                </p>
                <br />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo1">Comment</button>
                <div id="demo1" class="collapse">
                    <br />
                    <form>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="reset" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">May I apply concurrently to the information systems program or accounting program and the management program?</h4>
                <p class="text-right">By A. Campbell</p>
                <p>
                    Yes, you may apply concurrently to all undergraduate programs at the Marriott School. However, you may only enter into one of these programs. 
                </p>
                <p>
                    The information systems and accounting programs admit students only for the fall semester, and the management program will be doing the same beginning fall of 2016. Please be aware of deadlines and which requirements are needed to apply to each program. Visit https://marriottschool.byu.edu for more information. 
                </p>
                <br />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo2">Comment</button>
                <div id="demo2" class="collapse">
                    <br />
                    <form>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="reset" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">What are the prerequisites for the Information Systems junior core?</h4>
                <p class="text-right">By A. Campbell</p>
                <p>
                    The prerequisite classes for the information systems junior core are as follows:
                </p>
                <ul>
                    <li>IS 201 (IS 110 must be taken before or concurrently with IS 201)</li>
                    <li>ACC 200</li>
                    <li>FIN 201</li>
                    <li>BUS M 241</li>
                    <li>IS 303 (or CS 142)</li>
                </ul>
                <br />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo3">Comment</button>
                <div id="demo3" class="collapse">
                    <br />
                    <form>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="reset" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">What generals will be covered with prerequisite classes?</h4>
                <p class="text-right">By A. Campbell</p>
                <p>
                    Although only accounting 200 is a prerequisite for the Information Systems program, the following premanagement courses will count toward general education credit:
                </p>
                <ul>
                    <li>ACC 200 GE: Quantitative Reasoning</li>
                    <li>STAT 121 GE: Languages of Learning/Quantitative Reasoning</li>
                    <li>MCOM 320 GE: Advanced Writing</li>
                    <li>ECON 110 GE: Social Science/ Partial AHTG</li>
                </ul>
                <p>
                    You will be required to take ECON 110, MCOM 320 and STAT 121 once admitted to the program. Completion of these courses before beginning the Management Core or MISM is highly recommended. If possible, it is helpful to have these courses complete before entering the junior core.
                </p>
                <br />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo4">Comment</button>
                <div id="demo4" class="collapse">
                    <br />
                    <form>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="reset" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">What transfer classes count?</h4>
                <p class="text-right">By A. Campbell</p>
                <p>
                    You can view information regarding transfer classes at https://marriottschool.byu.edu/advisement/classes/transfer-information. This site will help you navigate the process of inquiring about transfer classes. It includes a link to a list of previously evaluated transfer classes from various colleges. For classes that have not yet been evaluated by the Marriott School, please email a course syllabus, your name and BYU ID number to msm_transfer@byu.edu.
                </p>
                <br />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo5">Comment</button>
                <div id="demo5" class="collapse">
                    <br />
                    <form>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="reset" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







