@model Project_1.Models.DegreesAndQuestions

@{
    ViewBag.Title = "BSIS";
}

@*<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Degrees", "Index", "Degree")</li>
    <li class="breadcrumb-item active">BSIS</li>
</ol>*@

@foreach (var item in Model.Degree)
{
    <h1>@Html.DisplayFor(modelItem => item.degreeName)</h1>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-2">
                            <img src="@ViewBag.Picture" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-10">
                            <h4> @Html.DisplayFor(modelItem => item.degreeCoordinator) </h4>
                            <small>  @Html.DisplayFor(modelItem => item.coordinatorTitle)  </small>
                            <br />
                            <small>@Html.DisplayFor(modelItem => item.coordinatorOfficeAddress)</small>
                            <br />
                            <p>
                                <br /><br />
                                @Html.DisplayFor(modelItem => item.phdEducation)
                                <br /><br />
                                @Html.DisplayFor(modelItem => item.mastersEducation)
                                <br /><br />
                                @Html.DisplayFor(modelItem => item.bachelorsEducation)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<h2>BSIS Frequently Asked Questions</h2>

@foreach (var item in Model.DegreeQuestion)
{
    <div class="container">

        <div class="well">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">@Html.DisplayFor(modelItem => item.question)</h4>
                    @*<p class="text-right">By @Html.DisplayFor(modelItem => item.userID)</p>*@
                    <p>@Html.DisplayFor(modelItem => item.answer)</p>
                    <br />
                    
                    <a class="btn btn-success" href="@Url.Action("Edit", "QuestionAnswer", new { id = item.degreeQuestionID }, null)">Answer</a>
                </div>
            </div>
        </div>
    </div>
}

<h2>Questions? Enter them here to have a current student answer them.</h2>
<a class="btn btn-success" href="@Url.Action("AddBSISQuestion", "AddQuestion", null, null)">Ask A Question</a>
